html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: "Roboto", serif;
}
.center-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2vw 10vh;
}